<!--
<p>hfjkadsjfdskhsadkhjfkj</p>


-->

      <div class="row">
          
        <div class="col-sm-3 col-md-2 sidebar">
        <p>Question X</p>
          <ul class="nav nav-sidebar" ng-repeat="question in questions">
            <li>
<!--                <a ui-sref=".studentDate">By due date</a>-->
                <p>Question {{question.question_id}}</p>
              </li>
              
          </ul>
        </div>
          
        <div class="main">  
            <div class="container" ui-view></div>
        </div>
          
      </div>
