
<div class="row">

<!--  Master Here-->

    <div class="col-sm-3 col-md-2 sidebar">
        <!-- TODO: Fetch name here-->
        <div>
            <h1 style="text-align: center;">Decha Muangsri</h2>
            <hr />
        </div>
        <img src="images/default-profile.jpg" class="img-responsive img-circle" />
        <h3>Grouped by</h3>
        <ul class="nav nav-sidebar" style="padding-left: 10%;">
            <li><a ui-sref=".studentDate">By due date</a></li>
            <li><a ui-sref=".studentSubject">By subject</a></li>
        </ul>
    </div>
          
<!-- Detail Here-->
        
    <div ng-controller="StudentViewController" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">  
        <div class="container" ui-view></div>
    </div>
</div>