
<div class="row">

<!--  Master Here-->

    <div class="col-sm-3 col-md-2 sidebar">
        <!-- TODO: Fetch name here-->
        <h2 style="text-align: center;">Decha Muangsri</h2>
        <div>
            <img src="images/default-profile.jpg" class="img-responsive img-circle" style="margin: auto;"/>
        </div>
        <h3>Grouped by</h3>
        <ul class="nav nav-sidebar">
            <!-- TODO: Reflect grouping -->
            <li><a href="#">Classroom</a></li>
            <li><a href="#">Subject</a></li>
        </ul>
    </div>
          
<!-- Detail Here-->
        
        <div class="container" ui-view></div>
</div>