<div ng-controller="AnswerSubmitController" class="col-xs-12 col-sm-12">
    <div style="top: -150px;">
        <h1><span style="font-size: 6rem;">Q.{{currentquestion.question_order}}</span></h1>
        <p><span style="font-size: 4rem;">{{currentquestion.question_text}}</span></p>
        <hr />
    </div>
    <div class="row placeholders">
        <form ng-submit="submit()" class="form-horizontal">
            <fieldset>
                <div class="row">
                    <div class="col-xs-3 col-sm-2" style="">
                        <h3>ANS:</h3>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <textarea ng-model="answertext" id="answer" placeholder="Your answer here" rows="4" style="width: 100%; background: 0; border: 0; border-bottom: 1px solid #FFFFFF; outline: 0; font-family: 'Open Sans', sans-serif; font-size: 3rem; letter-spacing: 1px; outline: 0; height: 100%; background-color: #F0F0F0; color: #404040;"></textarea>
                        <!-- <input ng-model="answertext" type="text" class="form-control" id="answer" placeholder="Type your answer here"> -->
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12">
                        <!-- TODO: Hide the "Give Up" button on the rule -->
                        <input type="button" id="giveup" class="btn btn-warning" ng-click="toggle()" value="Give Up" ></input>
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
            <!-- Text input data checker--
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <p style="word-wrap: break-word;">{{motherChecker}}</p>
                </div>
            </div>
            ---------------------------->
        </form>
        <div class="alert alert-dismissible alert-success" ng-show="answerSubmited">
              <button type="button" class="close" ng-click="closeAnswerPopUp()" data-dismiss="alert">×</button>
              Answer saved.
        </div>
        <!-- TODO: GET answers here -->
        <div class="container-fluid" ng-show="showAnswer">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Answer #1</h3>
                </div>
                <div class="panel-body">
                    No, he is not. 
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Answer #2</h3>
                </div>
                <div class="panel-body">
                    Of course, he is not. 
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Answer #3</h3>
                </div>
                <div class="panel-body">
                    I think you have to see a doctor after this, teacher. 
                </div>
            </div>
        </div>
    </div>
</div>