<div style="width: 100%;">
    <h1>Date</h1>
    <hr />
    <div class="row placeholders">
        <a href="#" ng-repeat="homework in homeworks" ui-sref=".dohomework">

            <div class="col-xs-6 col-sm-3">
                <div class="panel panel-default">
                    <img class="img-responsive img-rounded" ng-src="{{homework.image}}" data-holder-rendered="true" style="width: 100%">
                    <div class="panel-footer">
                        <h4>{{homework.title}}</h4>
                        {{homework.description}}
                    </div>
                </div>
            </div>
        </a> 
    </div>
</div>
