<div class="row" ng-controller='CreateHomeworkViewByIdController'>
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        
                        <!-- <li data-ng-repeat="question in questions track by $index"><a ui-sref="createhomework.questionnumber({questionId:$index})">Q.{{question.question_id}} {{question.question_text}}</a>
                        </li> -->
                        <li data-ng-repeat="question in questions track by $index"><a ui-sref="createhomework.questionnumber({questionId:$index})">Q.{{question.question_id}} Why did the decision of ...</a>
                        </li>
                    </ul>
                    
                    <button type="button" ng-click="newQuestion()" class="btn btn-link btn-lg btn-block">+</button>
                    
                    <!-- TODO: Push these buttons to bottom -->
                    <hr />
                    <ul class="nav nav-sidebar">
                        <li><button ng-click="showSetting=true" type="button" class="btn btn-link btn-lg btn-block">Settings</button></li>
                        <li><button href="#" class="btn btn-primary btn-lg btn-block">Submit</button></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="top: 32%;">
                    <div ng-show="!showSetting">
                        <div class="container" ui-view></div>
                    </div>
                    
                    <form class="form-horizontal" ng-show="showSetting">
                        <h2>Permissions</h2>
                        <!-- TODO: Place permissions here -->
                        <hr />
                        <div class="checkbox">
                            <label><input type="checkbox">Permission 1</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Permission 2</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Permission 3</label>
                        </div>
                        
                        <h2>Due date</h2>                        
                        <hr />
                        <!-- TODO: Automatically add more due date inputs-->
                        <div class="row placeholders">
                            <div class="col-xs-6">
                                <h3>Class</h3>
                                <select class="form-control">
                                    <!-- TODO: Fetch class list here -->
                                    <option>4/1</option>
                                    <option>4/2</option>
                                    <option>4/3</option>
                                    <option>4/4</option>
                                    <option>4/5</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <h3>Due date</h3>
                                <select class="form-control">
                                    <!-- TODO: Use real date selector -->
                                    <option>Tomorrow</option>
                                    <option>Day after tomorrow</option>
                                    <option>Next week</option>
                                </select>
                            </div>
                        </div>
                        <div class="row placeholders">
                            <div class="col-xs-12">
                                <input type="button" class="btn btn-link btn-lg btn-block" value="+ Add more class" ></input>
                            </div>
                        </div>
                    </form>
                    <!-- TODO: Create new classroom due date logic -->
                </div>
            </div>