<div>
<!--<p>{{fuckyou}}</p>-->
    <!-- TODO: Place question content here-->
    <h2 class="page-header" style="font-size: 8rem;"><span style="color: #000000;">Q.{{qID}} </span></h2>
    <form class="form-horizontal">
        <textarea ng-model='questionText' data-ng-change="messageChanged()" placeholder="Your question here" rows="4" style="width: 100%; background: 0; border: 0; border-bottom: 1px solid #FFFFFF; outline: 0; font-family: 'Open Sans', sans-serif; font-size: 6rem; letter-spacing: 1px; outline: 0; height: 100%"></textarea>
    </form>
    <button type="button" class="btn btn-default">Update</button>
</div>