<div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        
                        <li ng-repeat="question in questions">
                            <a ui-sref=".questionnumber">Q.{{question.question_id}} {{question.question_text}}</a>
                        </li>
                        <!-- TODO: Insert Questions Here -->
<!--
                        <li class="active">
                            <a href="#">
                                Q1. What is it?
                            <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li><a href="#">Q2. What is that?</a></li>
                        <li><a href="#">Q3. What are those?</a></li>
-->
                        <!-- TODO: Add new question function here-->
                        
                    </ul>
                    
                    <button type="button" ng-click="newQuestion()" class="btn">+</button>
                    
                    <!-- TODO: Push these buttons to bottom -->
                    <ul class="nav nav-sidebar" style="margin-top: 0;">
                        <li><button type="button" class="btn btn-default btn-lg btn-block">Settings</button></li>
                        <li><a href="#" class="btn btn-default btn-lg btn-block">Submit</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="top: 32%;">

                    <div class="container" ui-view></div>
                        
                    <form class="form-horizontal" style="display: none;">
                        <h2>Permissions</h2>
                        <!-- TODO: Place permissions here -->
                        <hr />
                        <div class="checkbox">
                            <label><input type="checkbox">Permission 1</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Permission 2</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Permission 3</label>
                        </div>
                        
                        <h2>Due date</h2>                        
                        <hr />
                        <!-- TODO: Automatically add more due date inputs-->
                        <div class="">
                            <div class="">
                                <h3>Class</h3>
                                <select class="form-control">
                                    <!-- TODO: Fetch class list here -->
                                    <option>4/1</option>
                                    <option>4/2</option>
                                    <option>4/3</option>
                                    <option>4/4</option>
                                    <option>4/5</option>
                                </select>
                            </div>
                            <div class="">
                                <h3>Due date</h3>
                                <select class="form-control">
                                    <!-- TODO: Use real date selector -->
                                    <option>Tomorrow</option>
                                    <option>Day after tomorrow</option>
                                    <option>Next week</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <!-- TODO: Create new classroom due date logic -->
                </div>
            </div>